@import "utilities.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 1000px;
  font-family: "Poppins", sans-serif;
  background: var(--dark);
  font-size: 16px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  display: flex;
  height: 93vh;
}

/* sidebar */

.sidebar.left-section-container {
  min-width: 425px;
  height: 100%;
  background: none;
  margin: 4px 0 4px 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.sidebar .top-menu {
  width: 100%;
  background: var(--dark-primary);
  border-radius: 8px;
  color: var(--gray-primary);
  margin-bottom: 8px;
}

.sidebar .top-menu .home.active {
  color: #fff;
}

.sidebar .top-menu .home,
.sidebar .top-menu .search {
  display: flex;
  align-items: center;
  transition: 0.5s;
  padding: 22px 0 22px 22px;
  cursor: pointer;
}

.sidebar .top-menu .search {
  padding-top: 6px;
}

.sidebar .top-menu .home:hover,
.sidebar .top-menu .search:hover {
  color: #fff;
}

.sidebar .top-menu .home i,
.sidebar .top-menu .search i {
  font-size: 1.5rem;
}


.sidebar .top-menu .home p,
.sidebar .top-menu .search p {
  font-size: 0.95rem;
  font-weight: 600;
  margin: 0 0 0 20px;
}

.sidebar .library {
  width: 100%;
  height: 100%;
  background: var(--dark-primary);
  border-radius: 8px;
  color: var(--gray-primary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar .library-filter {
  width: 100%;
  background: none;
}

.sidebar .add-expand-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  font-weight: 600;
  align-items: center;
  margin: 8px 8px 8px 8px;
}

.sidebar .add-expand-row > div {
  display: flex;
  align-items: center;
}

.sidebar .add-expand-row .left:hover {
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.sidebar .add-expand-row .left i {
  padding: 10px;
  background: none;
  font-size: 1.5rem;
  margin-right: 8px;
}

.sidebar .add-expand-row button {
  background: none;
  color: var(--gray-primary);
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 10px;
}

.sidebar .add-expand-row button:hover {
  color: white;
  background: rgba(167, 167, 167, 0.1);
  border-radius: 50%;
  transition: 0.5s;
}

.sidebar .library-categories {
  display: flex;
  overflow: auto;
  margin: 0 10px;
}

.sidebar .library-categories::-webkit-scrollbar {
  display: none;
}

.sidebar .library-categories div {
  font-size: 0.8rem;
  color: #d1d1d1;
  background: var(--badge-background);
  padding: 10px;
  margin: 10px 5px;
  border-radius: 20px;
  flex-shrink: 0;
  cursor: pointer;
}

.sidebar .library-list {
  width: 100%;
  background: none;
  overflow: auto;
}

.sidebar .library-list .searcbox {
  display: flex;
  justify-content: space-between;
  background: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sidebar .library-list .searcbox > div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 15px 22px;
}

.sidebar .library-list .searcbox > div i:hover {
  color: white;
  background: rgba(167, 167, 167, 0.1);
  border-radius: 50%;
  transition: 0.5s;
}

.sidebar .library-list .playlists {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: none;
  padding: 0 10px;
  margin: 0;
}

.sidebar .playlists .playlist-item {
  width: 100%;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar .playlists .playlist-item:hover {
  background: rgba(167, 167, 167, 0.1);
}

.sidebar .playlist-item .playlist-cover {
  width: 55px;
  height: 55px;
}

.sidebar .playlist-item .playlist-cover.album img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.sidebar .playlist-item .playlist-cover.artist img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sidebar .playlist-item .playlist-info {
  padding-left: 12px;
 }

.sidebar .playlist-item .playlist-title h3 {
 font-size: 0.95rem;
 font-weight: 200;
 color: #fff;
}

.sidebar .playlist-item .playlist-artist p {
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--gray-primary);
 }

/* main content */

.main.right-section-container {
  width: 100%;
  min-width: 450px;
  height: 100%;
  background: var(--dark-primary);
  margin: 4px;
  border-radius: 8px;
  flex-basis: 0;
  flex-grow: 1;
  overflow: scroll;
}

.main .header-container {
  width: 100%;
  background-image: linear-gradient(#602A0C, var(--dark-primary));
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 12px 22px;
}

.main .header-container .top-menu {
  display: flex;
  justify-content: space-between;
}

.main .header-container .top-menu .left-top-menu,
.main .header-container .top-menu .right-top-menu {
  display: flex;
}

.main .header-container .top-menu .top-menu-icon i {
  font-size: 1.2rem;
  color: var(--gray-primary);
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.main .header-container .top-menu .top-menu-icon i:hover {
  color: #fff;
  scale: 1.1;
}

.main .header-container .top-menu .top-menu-icon:not(:last-child) {
  margin-right: 8px;
}

.main .header-title h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin: 22px 0;
}

.main .container-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: stretch;
  gap: 12px;
}

.main .container-item {
  text-align: center;
  background: rgba(167, 167, 167, 0.2);
  border-radius: 4px;
  display: flex;
  cursor: pointer;
}

.main .container-item:hover {
  background: rgba(167, 167, 167, 0.4);
  transition: 0.5s;
}

.main .container-item-image {
  width: 80px;
  height: 80px;
}

.main .container-item-image img {
  width: 80px;
  height: 80px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.container-title-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.container-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-item-title h3 {
  margin-left: 15px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .container-item-button {
  flex-shrink: 0;
}

.main .container-item-button button {
  width: 50px;
  height: 50px;
  background: var(--green-primary);
  border: none;
  border-radius: 50%;
  margin: 0 15px;
  box-shadow:
    inset 0 1px 1px rgba(255,255,255,0.13),
    0 1px 2px rgba(0,0,0,0.3),
    0 6px 6px 1px rgba(0,0,0,0.3);
  cursor: pointer;
  visibility: hidden;
}

.main .container-item-button button:hover {
  visibility: visible;
}

.main .container-item-button button i {
  font-size: 1.4rem;
}

.main.playlists-container {
  width: 100%;
  background: none;
  padding: 0 22px;
}

.playlist-category {
  margin: 22px 0;
}

.playlist-category .title h2 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 550;
  margin-bottom: 18px;
}

.playlist-category .playlist-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: 0;
  column-gap: 12px;
  overflow: hidden;
  margin: auto;
}

.playlist-items .playlist-item-card {
  width: 192px;
  background: var(--playlist-item-card-bg);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.playlist-item-card .card-cover {
  width: 160px;
  height: 160px;
}

.playlist-item-card .card-cover img {
  width: 160px;
  height: 160px;
  border-radius: 8px;
}

.playlist-item-card .card-cover .artist {
  width: 160px;
  height: 160px;
}

.playlist-item-card .card-cover.artist img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.playlist-item-card .card-title h4 {
  color: #fff;
  font-size: 0.95rem;
  font-weight: 600;
  margin-top: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist-item-card .card-description p {
  color: var(--gray-primary);
  font-size: 0.85rem;
  margin-top: 8px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* resizer */

.resizer {
  width: 8px;
  height: 100%;
  cursor: col-resize;
  margin: 4px 0;
  flex-basis: 4px;
}

.resizer:hover {
  border-left: 1px solid var(--gray-primary);
}

/* player */

.player {
  width: 100%;
  height: 7vh;
  background: var(--dark);
  margin-top: 4px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}

.player .player-left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player .player-left-section .current-play-cover {
  width: 55px;
  height: 55px;
  margin-right: 18px;
}

.player .player-left-section .current-play-cover img {
  width: 55px;
  height: 55px;
  border-radius: 8px;
}

.player .player-left-section .current-play-info {
  margin-right: 18px;
}

.player .player-left-section .current-play-info p:first-child {
  color: #fff;
  font-size: 0.85rem;
}

.player .player-left-section .current-play-info p:last-child {
  color: #fff;
  font-size: 0.7rem;
  color: var(--gray-primary);
}

.player .like-button-container button {
  background: none;
  border: none;
}

.player .like-button-container button i {
  background-color: var(--gray-primary);
  font-size: 1rem;
  border-radius: 20px;
  padding: 4px;
  cursor: pointer;
}

.player .like-button-container button i:hover {
  background-color: var(--green-primary);
}

.player .player-middle-section {

}

.player .player-right-section {

}
