@import "utilities.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--dark);
  font-size: 16px;
  overflow-y: hidden;
}

.container {
  display: flex;
  height: 93vh;
}

/* sidebar */

.sidebar.left-section-container {
  min-width: 425px;
  height: 100%;
  background: none;
  margin: 4px 0 4px 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.sidebar .top-menu {
  width: 100%;
  background: var(--dark-primary);
  border-radius: 8px;
  color: var(--gray-primary);
  margin-bottom: 8px;
}

.sidebar .top-menu .home.active {
  color: #fff;
}

.sidebar .top-menu .home,
.sidebar .top-menu .search {
  display: flex;
  align-items: center;
  transition: 0.5s;
  padding: 22px 0 22px 22px;
  cursor: pointer;
}

.sidebar .top-menu .search {
  padding-top: 6px;
}

.sidebar .top-menu .home:hover,
.sidebar .top-menu .search:hover {
  color: #fff;
}

.sidebar .top-menu .home i,
.sidebar .top-menu .search i {
  font-size: 1.5rem;
}


.sidebar .top-menu .home p,
.sidebar .top-menu .search p {
  font-size: 0.95rem;
  font-weight: 600;
  margin: 0 0 0 20px;
}

.sidebar .library {
  width: 100%;
  height: 100%;
  background: var(--dark-primary);
  border-radius: 8px;
  color: var(--gray-primary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar .library-filter {
  width: 100%;
  background: none;
}

.sidebar .add-expand-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  font-weight: 600;
  align-items: center;
  margin: 8px 8px 8px 8px;
}

.sidebar .add-expand-row > div {
  display: flex;
  align-items: center;
}

.sidebar .add-expand-row .left:hover {
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.sidebar .add-expand-row .left i {
  padding: 10px;
  background: none;
  font-size: 1.5rem;
  margin-right: 8px;
}

.sidebar .add-expand-row button {
  background: none;
  color: var(--gray-primary);
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 10px;
}

.sidebar .add-expand-row button:hover {
  color: white;
  background: rgba(167, 167, 167, 0.1);
  border-radius: 50%;
  transition: 0.5s;
}

.sidebar .library-categories {
  display: flex;
  overflow: auto;
  margin: 0 10px;
}

.sidebar .library-categories::-webkit-scrollbar {
  display: none;
}

.sidebar .library-categories div {
  font-size: 0.8rem;
  color: #d1d1d1;
  background: var(--badge-background);
  padding: 10px;
  margin: 10px 5px;
  border-radius: 20px;
  flex-shrink: 0;
  cursor: pointer;
}

.sidebar .library-list {
  width: 100%;
  background: none;
  overflow: auto;
}

.sidebar .library-list .searcbox {
  display: flex;
  justify-content: space-between;
  background: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sidebar .library-list .searcbox > div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 15px 22px;
}

.sidebar .library-list .searcbox > div i:hover {
  color: white;
  background: rgba(167, 167, 167, 0.1);
  border-radius: 50%;
  transition: 0.5s;
}

.sidebar .library-list .playlists {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: none;
  padding: 0 10px;
  margin: 0;
}

.sidebar .playlists .playlist-item {
  width: 100%;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar .playlists .playlist-item:hover {
  background: rgba(167, 167, 167, 0.1);
}

.sidebar .playlist-item .playlist-cover {
  width: 55px;
  height: 55px;
}

.sidebar .playlist-item .playlist-cover.album img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.sidebar .playlist-item .playlist-cover.artist img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sidebar .playlist-item .playlist-info {
  padding-left: 12px;
 }

.sidebar .playlist-item .playlist-title h3 {
 font-size: 0.95rem;
 font-weight: 200;
 color: #fff;
}

.sidebar .playlist-item .playlist-artist p {
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--gray-primary);
 }

/* main content */

.main.right-section-container {
  width: 100%;
  min-width: 300px;
  height: 100%;
  background: var(--dark-primary);
  margin: 4px;
  border-radius: 8px;
  flex-basis: 0;
  flex-grow: 1;
}

.main .header-container {
  width: 100%;
  background-image: linear-gradient(var(--badge-background), var(--dark-primary));
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 12px 22px;
}

.main .header-container .top-menu {
  display: flex;
  justify-content: space-between;
}

.main .header-container .top-menu .left-top-menu,
.main .header-container .top-menu .right-top-menu {
  display: flex;
}

.main .header-container .top-menu .top-menu-icon i {
  font-size: 1.2rem;
  color: var(--gray-primary);
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.main .header-container .top-menu .top-menu-icon:not(:last-child) {
  margin-right: 8px;
}

/* resizer */

.resizer {
  width: 8px;
  height: 100%;
  cursor: col-resize;
  margin: 4px 0;
  flex-basis: 4px;
}

.resizer:hover {
  border-left: 1px solid var(--gray-primary);
}

/* player */

.player {
  width: 100%;
  height: 7vh;
  background: var(--dark);
  margin-top: 4px;
}
