:root {
  --light: #fff;
  --dark: #000;
  --dark-primary: #121212;
  --gray-primary: #a7a7a7;
  --badge-background: #232323;
  --main-header-continer-cards: #313030;
  --green-primary: #1BD760;
  --playlist-item-card-bg: #181818;

  --border-radius-S: 4px;
  --border-radius-M: 6px;
  --border-radius-L: 8px;
  --border-rounded: 50%;

  --text-XS: 0.7rem;
  --text-S: 0.85rem;
  --text-M: 0.95rem;
  --text-ML: 1rem;
  --text-L: 1.2rem;
  --text-XL: 1.4rem;
  --text-XXL: 1.5rem;
  --text-2XL: 2rem;
}
